<ul class="media  d-flex justify-content-center gap-5  list-unstyled " >
  <li>
    <a href="https://github.com/AhmedHossam555">
      <img src="../../assets/github.svg" alt="github">
    </a>
  </li>
  <li>
    <a href="www.linkedin.com/in/ahmed-hossam-ab7114328">
      <img src="../../assets/linkedin-svgrepo-com.svg" alt="linkedin">
    </a>
  </li>
  <li>
    <a href="#">
      <img src="../../assets/twitter-154-svgrepo-com.svg" alt="twitter">
    </a>
  </li>
  <li>
    <a href="#">
      <img src="../../assets/instagram-167-svgrepo-com.svg" alt="instagram">
    </a>
  </li>
</ul>
<div class="text-center main-text ">
  Designed & Build by Ahmed Hossam &copy;2025
</div>