<section class="container">
  <h1>
    <span class="me-3 main-text">01.</span>
    About Me
  </h1>
  <div class="text">
    <p>
      Hello! I'm Ahmed Hossam, from Cario.
    </p>
    <p>
      I am a creative, punctual, and dedicated individual driven by goals and guided by strong moral values and ethics. With a high-energy attitude, excellent communication skills, strong organizational abilities, and meticulous attention to detail, I am committed to excelling in everything I do.
    </p>
    <p>
      Currently, I am pursuing a Bachelor’s degree in <span class="main-text">Computer Science at  BFCAI</span> (2021–2025), where I have maintained a commendable GPA of <span class="main-text">3.57</span> out of 4.
    </p>
    <p>
      Here are a few of the other activities that I love to do!
    </p>
  </div>

  <ul class="list-unstyled main-text">
    <li>Coding</li>
    <li>Reading</li>
    <li>Crafting</li>
    <li>Problem Solving</li>
    <li>Team Management</li>
  </ul>
</section>