<section class="container about pt-5">
  <h1 class="hiddens" style="transition-delay: 400ms;">
    <span class="me-3 main-text">02.</span>
    About Me
  </h1>

  <div class="text hiddens" style="transition-delay: 500ms;">
    <p>
      Hello! I'm Ahmed Hossam, from Cairo.
    </p>
    <p>
      I am a creative, punctual, and dedicated individual driven by goals and guided by strong values. With a high-energy attitude, excellent communication skills, strong organizational abilities, and attention to detail, I strive to excel in everything I do.
    </p>
    <p>
      I hold a Bachelor’s degree in <span class="main-text">Computer Science from BFCAI</span> (2021–2025), where I graduated with a GPA of <span class="main-text">3.57</span> out of 4.
    </p>
    <p>
      Beyond academics and coding, here are a few activities I enjoy:
    </p>
  </div>

  <ul class="list-unstyled main-text hiddens" style="transition-delay: 600ms;">
    @for (activity of activities(); track $index) {
      <li>{{ activity }}</li>
    }
  </ul>
</section>

<app-skills></app-skills>