<section class="container  pt-5 main-padding" id="projects">
  <h1 class="hiddens" style="transition-delay: 500ms;">
    <span class="me-3 main-text">03.</span>
    Projects 
  </h1>

  <div class="row boxs g-4">
  @for (project of projects(); track $index) {
    <div class="col-12 col-md-6 col-lg-4 hiddens" [style.transition-delay]="project.delay">
      <div class="box rounded-2 shadow-sm">
        <img [src]="project.img" [alt]="project.alt">
        <div class="section">
          <h2>{{ project.title }}</h2>
          <a [href]="project.website" target="_blank" class="main-text">Visit Website</a>
          <a [href]="project.repo" target="_blank" class="main-text">Repo</a>
        </div>
      </div>
    </div>
  }
</div>
</section>