<section class="container  pt-5 main-padding" id="projects">
  <h1 class="hiddens" style="transition-delay: 500ms;">
    <span class="me-3 main-text">03.</span>
    Projects 
  </h1>
  <div class="row boxs g-4">
    <div class="col-12 col-md-6 col-lg-4 hiddens" style="transition-delay: 600ms;" >
      <div class="box rounded-2 shadow-sm w-full">
        <img src="../../assets/gravity.png" alt="gravity">
        <div class="section">
          <h2>Gravity Landing Page</h2>
          <a href="gravity-smoky.vercel.app" class="main-text">Visit Website</a>
          <a href="https://github.com/AhmedHossam555/gravity.git" class="main-text">Repo</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 hiddens " style="transition-delay: 650ms;">
      <div class="box rounded-2 shadow-sm">
        <img src="../../assets/Trendzy.png" alt="Trendzy">
        <div class="section">
          <h2>Trendzy (Ecommerce App)</h2>
          <a href="ecommerce-kohl-iota.vercel.app" class="main-text">Visit Website</a>
          <a href="https://github.com/AhmedHossam555/Ecommerce.git" class="main-text">Repo</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 hiddens" style="transition-delay: 700ms;">
      <div class="box rounded-2 shadow-sm">
        <img src="../../assets/note-app.png" alt="noteapp">
        <div class="section">
          <h2>Note App</h2>
          <a href="note-app-bay-three.vercel.app" class="main-text">Visit Website</a>
          <a href="https://github.com/AhmedHossam555/note-app.git" class="main-text">Repo</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 hiddens " style="transition-delay: 750ms;">
      <div class="box rounded-2 shadow-sm">
        <img src="../../assets/social.png" alt="social">
        <div class="section">
          <h2>Social App</h2>
          <a href="social-app-ten-ruddy.vercel.app" class="main-text">Visit Website</a>
          <a href="https://github.com/AhmedHossam555/social-app.git" class="main-text">Repo</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 hiddens" style="transition-delay: 780ms;">
      <div class="box rounded-2 shadow-sm">
        <img src="../../assets/freshcard.png" alt="fresh card">
        <div class="section">
          <h2>Fresh (Ecommerce App)</h2>
          <a href="e-commerce-six-woad.vercel.app" class="main-text">Visit Website</a>
          <a href="https://github.com/AhmedHossam555/e-commerce.git" class="main-text">Repo</a>
        </div>
      </div>
    </div>
  </div>
  
</section>