
<div class="contact container">
  <h3 class="Heading-sc-1d8id63-0 contact__StyledHeading-t12301-1 gxWint"><span class="me-2">04.</span>What's Next?</h3>
  <h4 class="contact__StyledTitle-t12301-2 ivbNWM">Get In Touch</h4>
  <div><p>My inbox is always open. Whether you have a question or just want to say hello, I'll try my best to get back to you! Feel free to mail me about any relevant job updates.</p></div>
  <a href="mailto:ahmedhossam66600@gmail.com" target="_blank" rel="nofollow ">Mail Me</a>
</div>
