/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$main-color: #64ffda;
$secod-color: #0a192f;
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: $secod-color;
  font-family: "Inter", serif;
}
body.layer {
  max-height: 100vh !important;
  overflow: hidden !important;
}
a {
  text-decoration: none;
}
.page {
  padding-left:  50px;
  padding-right: 50px;
}
.main-text {
  color: $main-color;
}
