<app-header></app-header>
<section class="page" style="margin-bottom: 300px;" id="home">
  <div class="container home ">
    <h1 class="main-text hiddens" style="transition-delay: 500ms;">
      Hello, my name is
    </h1>
    <h2  class="hiddens" style="transition-delay: 550ms;">
      Ahmed Hossam.
    </h2>
    <h3 class="hiddens" style="transition-delay: 600ms;">
      I love exploring new things!
    </h3>
    <div class="hiddens" style="transition-delay: 650ms;">
      <p>
        I'm a Final Year Computer Science Engineering Student at BFCAI. Primarily interested in Web Development.
      </p>

      <p>
        I enjoy learning new skills and implementing them in real life!
      </p>
    </div>
    <div class="touch hiddens" style="transition-delay: 700ms;">
      <a href="mailto:ahmedhossam66600@gmail.com">Get In Touch</a>
    </div>
  </div>

  <ul class="media position-fixed d-flex flex-column justify-content-center z-3 list-unstyled " style="transition-delay: 700ms;">
    <li>
      <a href="https://github.com/AhmedHossam555">
        <img src="../../assets/github.svg" alt="github">
      </a>
    </li>
    <li>
      <a href="www.linkedin.com/in/ahmed-hossam-ab7114328">
        <img src="../../assets/linkedin-svgrepo-com.svg" alt="linkedin">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../assets/twitter-154-svgrepo-com.svg" alt="twitter">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../assets/instagram-167-svgrepo-com.svg" alt="instagram">
      </a>
    </li>
  </ul>
  <div class="email position-fixed" style="transition-delay: 700ms;">
    <a href="mailto:ahmedhossam66600@gmail.com" class="main-text">ahmedhossam66600&#64;gmail.com</a>
  </div>
</section>